---
// Layout Import
// import DefaultLayout from '@layouts/defaultLayout.astro';

// Component Imports
// import Counter from "@components/Counter.svelte";

// const works = await fetch('http://niconoclaste.jp/lib/works/').then(response => response.json());
layout: "@layouts/layouts/Layout.astro"
title: "2022 Hello World Post!"
date: "2022-01-01"
name: "Nate Moore"
value: "128"
description: "2022 Hello World Post!"
---

<h1>aaaa</h1>